<%- include('header') %>


<h1>Latest Posts</h1>
<main class="posts__container">
    <% for(var i = 0; i < data.length; i++) {%>
        <% var recipeData = data[i]; %>
        <div class="post">
            <a href="recipes/<%- recipeData.page %>"><img src="food/<%- recipeData.image %>" alt="<%- recipeData.url %>"></a>
            <span class="post--category"><%- recipeData.course %></span>
            <span class="post--title"><a href="recipes/<%- recipeData.page %>"><%- recipeData.name %></a></span>
        </div>
    <% } %>
</main>

<%- include('footer') %>