<%- include('header.ejs') %>
<div class="recipe__container">
    <h1><%= data.recipeName %></h1>
    <img src="<%= data.image %>">
    <div class="recipe__stats">
        <span><em>Servings:</em> <%= data.servings %></span>
        <span><em>Prep Time:</em> <%= data.prepTime[0] %> <%= data.prepTime[1] %></span>
        <span><em>Cook Time:</em> <%= data.cookTime[0] %> <%= data.cookTime[1] %></span>
    </div>

    <div class="recipe__ingredients">
        <h2>Ingredients</h2>
        <ul>
            <% data.ingredients.forEach(function(ingredient) { %>
                <li><%= ingredient.unit %> <%= ingredient.product %></li>
            <% }) %>
        </ul>
    </div>

    <div class="recipe__steps">
        <h2>Directions</h2>
        <ol>
            <% data.instructions.forEach(function(instruction) { %>
            <li> <%= instruction %></li>
            <% }) %>
        </ol>
    </div>
</div>
<%- include('footer.ejs') %>